name: Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
        with:
          submodules: true

      - name: Setup hugo
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: '0.147.0'
          extended: true

      - name: Build
        run: hugo --gc --minify

      - name: Upload
        uses: SamKirkland/FTP-Deploy-Action@v4.3.6
        with:
          server: tmak2002.dev
          username: ${{ secrets.USER }}
          password: ${{ secrets.PASS }}
          protocol: ftps
          local-dir: ./public/
          server-dir: tmak2002.dev/
